In [4]:
!pip install pingouin

Requirement already satisfied: pingouin in /Users/fionazhu/opt/anaconda3/lib/python3.8/site-packages (0.5.0)
Requirement already satisfied: pandas-flavor>=0.2.0 in /Users/fionazhu/opt/anaconda3/lib/python3.8/site-packages (from pingouin) (0.2.0)
Requirement already satisfied: matplotlib>=3.0.2 in /Users/fionazhu/opt/anaconda3/lib/python3.8/site-packages (from pingouin) (3.3.4)
Requirement already satisfied: numpy>=1.19 in /Users/fionazhu/opt/anaconda3/lib/python3.8/site-packages (from pingouin) (1.20.1)
Requirement already satisfied: pandas>=1.0 in /Users/fionazhu/opt/anaconda3/lib/python3.8/site-packages (from pingouin) (1.2.4)
Requirement already satisfied: scikit-learn in /Users/fionazhu/opt/anaconda3/lib/python3.8/site-packages (from pingouin) (0.24.1)
Requirement already satisfied: seaborn>=0.9.0 in /Users/fionazhu/opt/anaconda3/lib/python3.8/site-packages (from pingouin) (0.11.1)
Requirement already satisfied: outdated in /Users/fionazhu/opt/anaconda3/lib/python3.8/site-packages (from pingouin) (0.2.1)
Requirement already satisfied: statsmodels>=0.12.0 in /Users/fionazhu/opt/anaconda3/lib/python3.8/site-packages (from pingouin) (0.12.2)
Requirement already satisfied: tabulate in /Users/fionazhu/opt/anaconda3/lib/python3.8/site-packages (from pingouin) (0.8.9)
Requirement already satisfied: scipy>=1.7 in /Users/fionazhu/opt/anaconda3/lib/python3.8/site-packages (from pingouin) (1.7.2)
Requirement already satisfied: python-dateutil>=2.1 in /Users/fionazhu/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.0.2->pingouin) (2.8.1)
Requirement already satisfied: pillow>=6.2.0 in /Users/fionazhu/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.0.2->pingouin) (8.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /Users/fionazhu/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.0.2->pingouin) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /Users/fionazhu/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.0.2->pingouin) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/fionazhu/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.0.2->pingouin) (1.3.1)
Requirement already satisfied: six in /Users/fionazhu/opt/anaconda3/lib/python3.8/site-packages (from cycler>=0.10->matplotlib>=3.0.2->pingouin) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in /Users/fionazhu/opt/anaconda3/lib/python3.8/site-packages (from pandas>=1.0->pingouin) (2021.1)
Requirement already satisfied: xarray in /Users/fionazhu/opt/anaconda3/lib/python3.8/site-packages (from pandas-flavor>=0.2.0->pingouin) (0.19.0)
Requirement already satisfied: patsy>=0.5 in /Users/fionazhu/opt/anaconda3/lib/python3.8/site-packages (from statsmodels>=0.12.0->pingouin) (0.5.1)
Requirement already satisfied: littleutils in /Users/fionazhu/opt/anaconda3/lib/python3.8/site-packages (from outdated->pingouin) (0.2.2)
Requirement already satisfied: requests in /Users/fionazhu/opt/anaconda3/lib/python3.8/site-packages (from outdated->pingouin) (2.25.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/fionazhu/opt/anaconda3/lib/python3.8/site-packages (from requests->outdated->pingouin) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in /Users/fionazhu/opt/anaconda3/lib/python3.8/site-packages (from requests->outdated->pingouin) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /Users/fionazhu/opt/anaconda3/lib/python3.8/site-packages (from requests->outdated->pingouin) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/fionazhu/opt/anaconda3/lib/python3.8/site-packages (from requests->outdated->pingouin) (2021.10.8)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/fionazhu/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn->pingouin) (2.1.0)
Requirement already satisfied: joblib>=0.11 in /Users/fionazhu/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn->pingouin) (1.0.1)
Requirement already satisfied: setuptools>=40.4 in /Users/fionazhu/opt/anaconda3/lib/python3.8/site-packages (from xarray->pandas-flavor>=0.2.0->pingouin) (52.0.0.post20210125)

In [5]:
# these packages are often used in data analyses, so import them first. 
%matplotlib inline

# pandas for data process, seaborn for plotting, in addition, matplotlib
import numpy as np
import pandas as pd  # manage data
import seaborn as sns # statistical data visualization
import matplotlib.pyplot as plt
import pingouin as pg

## Repeated-measures ANOVA on the reproduction difference between IR and BR

In [6]:
m_sumexpSub_diff = pd.read_csv('generated/sumexpSub_diff_range.csv')
m_sumexpSub_diff.head()

,Unnamed: 0,NSub,Exp,range,m_diff_RP_Normalized,m_diff_RP_Normalized_abs
0,1,1,Exp1,long,-0.130613,0.130613
1,2,1,Exp1,short,0.034946,0.119907
2,3,1,Exp2,long,-0.016164,0.020840
3,4,1,Exp2,short,0.002816,0.051032
4,5,2,Exp1,long,-0.009669,0.041656

In [7]:
# A one tailed paired t-test on the absolute NMRD between Experiment (Exp.1 vs. Exp.2) revealed absolute NMRD in Exp.1 was less than that in Exp.2 [t(318) = -2.969 , p <.01, BF10 = 16.107].
pg.pairwise_ttests(data = m_sumexpSub_diff, 
            dv = 'm_diff_RP_Normalized',  between= ['Exp'], subject = 'NSub', padjust = 'holm', alternative="less").round(3)

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,BF10,hedges
0,Exp,Exp1,Exp2,False,True,-0.226,62.0,less,0.411,0.522,-0.056

In [8]:
# A one tailed paired t-test on the absolute NMRD between Experiment (Exp.1 vs. Exp.2) revealed absolute NMRD in Exp.1 was less than that in Exp.2 [t(318) = -2.969 , p <.01, BF10 = 16.107].
pg.pairwise_ttests(data = sumexpSub_diff, 
            dv = 'diff_RP_Normalized',  between= ['Exp'], subject = 'NSub', padjust = 'holm', alternative="less").round(3)

/Users/fionazhu/opt/anaconda3/lib/python3.8/site-packages/outdated/utils.py:14: OutdatedPackageWarning: The package pingouin is out of date. Your version is 0.5.0, the latest is 0.5.1.
Set the environment variable OUTDATED_IGNORE=1 to disable these warnings.
  return warn(

NameError: name 'sumexpSub_diff' is not defined

In [ ]:
pg.pairwise_ttests(data = m_sumexpSub_diff.query('range == "short"'), 
            dv = 'm_diff_RP_Normalized', between= ['Exp'], subject = 'NSub', padjust = 'holm', alternative="less").round(3)

In [ ]:
pg.pairwise_ttests(data = m_sumexpSub_diff.query('range == "long"'), 
            dv = 'm_diff_RP_Normalized', between= ['Exp'], subject = 'NSub', padjust = 'holm', alternative="greater").round(5)

In [ ]:
aov = pg.rm_anova(data = m_sumexpSub_diff, 
            dv = 'm_diff_RP_Normalized', 
            within = ['range', 'Exp'],   # there is no parameter between in rm_anova
            subject = 'NSub', detailed = True)
aov.round(3)

## Repeated-measures ANOVA on the  reproduction sd in Exp1

In [ ]:
aov = pg.rm_anova(data = sumexpSub1, 
            dv = 'sd_err', 
            within = ['priortype','targetDur'], 
            subject = 'NSub', detailed = True)
aov.round(3)

In [ ]:
pg.pairwise_ttests(data = sumexpSub1.query('range == "short"'), 
            dv = 'sd_err',  within =['priortype'], subject = 'NSub').round(3)

In [ ]:
pg.pairwise_ttests(data = sumexpSub1.query('range == "long"'), 
            dv = 'sd_err',  within =['priortype'], subject = 'NSub').round(3)

In [ ]:
pg.linear_regression(sumexpSub1.query('priortype == "IR"')['sd_err'], sumexpSub1.query('priortype == "IR"')['targetDur']).round(3)

In [ ]:
sumexpSub1_new = sumexpSub1.query('priortype == "BR"')
pg.linear_regression(sumexpSub1_new['sd_err'], sumexpSub1_new['targetDur']).round(3)

In [ ]:
sumexpSub1_new = sumexpSub1.query('priortype == "BR"')
pg.linear_regression(sumexpSub1_new['sd_err'], sumexpSub1_new['targetDur']).round(3)

In [ ]:
sumexpSub1_new = sumexpSub1.query('range == "long" & priortype == "IR"')
pg.linear_regression(sumexpSub1_new['sd_err'], sumexpSub1_new['targetDur']).round(4)

In [ ]:
sumexpSub1_new = sumexpSub1.query('range == "long" & priortype == "BR"')
pg.linear_regression(sumexpSub1_new['sd_err'], sumexpSub1_new['targetDur']).round(4)

## Sesson order effect on reproduction error

In [11]:
sumexpSub_SessionOrder = pd.read_csv('generated/sumexpSub_SessionOrder.csv')
sumexpSub_SessionOrder.head()

,Unnamed: 0,NSub,targetDur,firstSession,Exp,priortype,range,m_err,m_RP,m_BIAS,n,se_err,sd_err,se_RP,sd_RP,CV,NBIAS,NRMSE
0,1,1,0.400000,L-S-M,Exp1,BR,short,0.124559,0.524559,0.124967,30,0.020015,0.107782,0.020015,0.107782,0.205472,0.312418,0.373930
1,2,1,0.400000,L-S-M,Exp1,IR,short,0.044567,0.444567,0.050342,14,0.017053,0.061484,0.017053,0.061484,0.138301,0.125856,0.186994
2,3,1,0.475683,L-S-M,Exp1,BR,short,0.049528,0.525211,0.077532,30,0.016462,0.088653,0.016462,0.088653,0.168794,0.162990,0.234643
3,4,1,0.475683,L-S-M,Exp1,IR,short,0.109908,0.585591,0.121841,14,0.027750,0.100055,0.027750,0.100055,0.170862,0.256139,0.307898
4,5,1,0.491200,L-S-M,Exp2,BR,short,0.055689,0.546889,0.087671,29,0.015767,0.083430,0.015767,0.083430,0.152553,0.178483,0.234795

In [15]:
pg.pairwise_ttests(data = sumexpSub_SessionOrder.query('Exp == "Exp1" & priortype == "IR"'), 
            dv = 'm_BIAS',  within =['range'], between = 'firstSession', subject = 'NSub',  padjust='bonf', alternative="less").round(4)

,Contrast,range,A,B,Paired,Parametric,T,dof,alternative,p-unc,p-corr,p-adjust,BF10,hedges
0,range,-,long,short,True,True,5.9614,15.0,less,1.0000,NaN,NaN,0.001,1.5760
1,firstSession,-,L-S-M,S-L-M,False,True,-0.1917,14.0,less,0.4254,NaN,NaN,0.866,-0.0906
2,range * firstSession,long,L-S-M,S-L-M,False,True,0.1431,14.0,less,0.5559,1.0000,bonf,0.861,0.0677
3,range * firstSession,short,L-S-M,S-L-M,False,True,-1.0253,14.0,less,0.1613,0.3226,bonf,1.214,-0.4847

In [19]:
pg.pairwise_ttests(data = sumexpSub_SessionOrder.query('Exp == "Exp1" & priortype == "BR"'), 
            dv = 'm_BIAS',  within =['range'], between = 'firstSession', subject = 'NSub',  padjust='bonf', alternative="less").round(4)

,Contrast,range,A,B,Paired,Parametric,T,dof,alternative,p-unc,p-corr,p-adjust,BF10,hedges
0,range,-,long,short,True,True,10.2409,15.0,less,1.0000,NaN,NaN,1.386e-06,3.1563
1,firstSession,-,L-S-M,S-L-M,False,True,0.3494,14.0,less,0.6340,NaN,NaN,0.892,0.1652
2,range * firstSession,long,L-S-M,S-L-M,False,True,0.4398,14.0,less,0.6666,1.0000,bonf,0.913,0.2079
3,range * firstSession,short,L-S-M,S-L-M,False,True,-0.1417,14.0,less,0.4447,0.8893,bonf,0.861,-0.0670

In [18]:
pg.pairwise_ttests(data = sumexpSub_SessionOrder.query('Exp == "Exp2" & priortype == "IR"'), 
            dv = 'm_BIAS',  within =['range'], between = 'firstSession', subject = 'NSub',  padjust='bonf', alternative="less").round(4)

,Contrast,range,A,B,Paired,Parametric,T,dof,alternative,p-unc,p-corr,p-adjust,BF10,hedges
0,range,-,long,short,True,True,5.7439,15.0,less,1.0000,NaN,NaN,0.001,1.3001
1,firstSession,-,L-S-M,S-L-M,False,True,-0.6807,14.0,less,0.2536,NaN,NaN,1.0,-0.3218
2,range * firstSession,long,L-S-M,S-L-M,False,True,0.0107,14.0,less,0.5042,1.000,bonf,0.855,0.0051
3,range * firstSession,short,L-S-M,S-L-M,False,True,-1.4650,14.0,less,0.0825,0.165,bonf,1.715,-0.6925

In [20]:
pg.pairwise_ttests(data = sumexpSub_SessionOrder.query('Exp == "Exp2" & priortype == "BR"'), 
            dv = 'm_BIAS',  within =['range'], between = 'firstSession', subject = 'NSub',  padjust='bonf', alternative="less").round(4)

,Contrast,range,A,B,Paired,Parametric,T,dof,alternative,p-unc,p-corr,p-adjust,BF10,hedges
0,range,-,long,short,True,True,12.5381,15.0,less,1.0000,NaN,NaN,1.122e-07,3.7332
1,firstSession,-,L-S-M,S-L-M,False,True,-0.3785,14.0,less,0.3554,NaN,NaN,0.898,-0.1789
2,range * firstSession,long,L-S-M,S-L-M,False,True,-0.8147,14.0,less,0.2144,0.4289,bonf,1.069,-0.3851
3,range * firstSession,short,L-S-M,S-L-M,False,True,1.3614,14.0,less,0.9025,1.0000,bonf,0.638,0.6436

## mean and variance of global prior

In [10]:
m_Baypar = pd.read_csv('generated/m_Baypar.csv')
m_Baypar = m_Baypar.query('model != "IP"') 
m_Baypar.head()

,Unnamed: 0,...1,...2,Nsub,Exp,model,ver,phi,mu_p_g,sig2_p_g,...,p_waic,se_waic,se_p_waic,elpd_waic,mu_p_s_IR,mu_p_l_IR,sig_pr2_s_IR,sig_pr2_l_IR,part,firstSession
0,1,1,1,1,Exp1,LGM,log,0.0,0.854542,0.074322,...,69.097118,8.841912,0.099345,29.065255,0.0,0.0,0.0,0.0,all,L-S-M
1,2,2,2,2,Exp1,LGM,log,0.0,2.074503,0.639535,...,68.903911,11.471495,0.093041,48.459985,0.0,0.0,0.0,0.0,all,S-L-M
2,3,3,3,3,Exp1,LGM,log,0.0,1.043226,0.622911,...,68.667700,9.387270,0.102803,17.168048,0.0,0.0,0.0,0.0,all,L-S-M
3,4,4,4,4,Exp1,LGM,log,0.0,2.130293,0.874235,...,69.909530,10.964810,0.091237,37.716616,0.0,0.0,0.0,0.0,all,S-L-M
4,5,5,5,5,Exp1,LGM,log,0.0,2.096467,0.664846,...,63.784612,10.599612,0.097625,-3.752186,0.0,0.0,0.0,0.0,all,S-L-M

In [18]:
#pg.pairwise_ttests(data = m_Baypar.query('Exp == "Exp1"'), 
            #dv = 'mu_p_g', within =['firstSession'], between =['model', 'ver'], subject = 'Nsub',  padjust='bonf', alternative="less").round(3)

In [19]:
aov = pg.rm_anova(data = m_Baypar.query('ver == "log" & model == "LGM"') , 
            dv = 'mu_p_g', 
            within = ['Exp'], 
            subject = 'Nsub', detailed = True)
aov.round(3)

  Source     SS  DF     MS      F  p-unc    np2  eps
0    Exp  1.163   1  1.163  7.463  0.015  0.332  1.0
1  Error  2.337  15  0.156    NaN    NaN    NaN  NaN

In [20]:
data = m_Baypar.query('ver == "log" & model == "LGM" & Exp == "Exp1" & part == "all"')
data

,Unnamed: 0,...1,...2,Nsub,Exp,model,ver,phi,mu_p_g,sig2_p_g,...,p_waic,se_waic,se_p_waic,elpd_waic,mu_p_s_IR,mu_p_l_IR,sig_pr2_s_IR,sig_pr2_l_IR,part,firstSession
0,1,1,1,1,Exp1,LGM,log,0.0,0.854542,0.074322,...,69.097118,8.841912,0.099345,29.065255,0.0,0.0,0.0,0.0,all,L-S-M
1,2,2,2,2,Exp1,LGM,log,0.0,2.074503,0.639535,...,68.903911,11.471495,0.093041,48.459985,0.0,0.0,0.0,0.0,all,S-L-M
2,3,3,3,3,Exp1,LGM,log,0.0,1.043226,0.622911,...,68.667700,9.387270,0.102803,17.168048,0.0,0.0,0.0,0.0,all,L-S-M
3,4,4,4,4,Exp1,LGM,log,0.0,2.130293,0.874235,...,69.909530,10.964810,0.091237,37.716616,0.0,0.0,0.0,0.0,all,S-L-M
4,5,5,5,5,Exp1,LGM,log,0.0,2.096467,0.664846,...,63.784612,10.599612,0.097625,-3.752186,0.0,0.0,0.0,0.0,all,S-L-M
5,6,6,6,6,Exp1,LGM,log,0.0,1.425468,0.047460,...,69.633432,11.053870,0.092515,66.435375,0.0,0.0,0.0,0.0,all,S-L-M
6,7,7,7,7,Exp1,LGM,log,0.0,2.299471,0.508607,...,67.971429,10.658494,0.099985,51.787810,0.0,0.0,0.0,0.0,all,S-L-M
7,8,8,8,8,Exp1,LGM,log,0.0,1.313293,0.051032,...,67.601501,9.495188,0.112964,45.431823,0.0,0.0,0.0,0.0,all,S-L-M
8,9,9,9,9,Exp1,LGM,log,0.0,2.294352,1.489466,...,68.914313,8.176206,0.096927,46.983046,0.0,0.0,0.0,0.0,all,L-S-M
9,10,10,10,10,Exp1,LGM,log,0.0,1.292116,0.117176,...,69.262831,5.338278,0.094805,34.533684,0.0,0.0,0.0,0.0,all,L-S-M
10,11,11,11,11,Exp1,LGM,log,0.0,2.191794,0.705916,...,68.458958,14.819905,0.100855,46.576467,0.0,0.0,0.0,0.0,all,S-L-M
11,12,12,12,12,Exp1,LGM,log,0.0,1.966489,0.971402,...,69.491861,11.474190,0.102214,26.826409,0.0,0.0,0.0,0.0,all,S-L-M
12,13,13,13,13,Exp1,LGM,log,0.0,2.326491,2.169006,...,68.642519,11.394041,0.100555,25.205378,0.0,0.0,0.0,0.0,all,L-S-M
13,14,14,14,14,Exp1,LGM,log,0.0,0.927172,2.474221,...,68.936695,9.922876,0.098071,9.603832,0.0,0.0,0.0,0.0,all,L-S-M
14,15,15,15,15,Exp1,LGM,log,0.0,1.194674,0.725183,...,68.983836,12.522779,0.104519,13.021096,0.0,0.0,0.0,0.0,all,L-S-M
15,16,16,16,16,Exp1,LGM,log,0.0,0.556913,1.044474,...,68.586025,11.746246,0.104098,42.951404,0.0,0.0,0.0,0.0,all,L-S-M

In [21]:
#for LGM model, significantly higher mean global priors for session order S-L-M than L-S-M in Exp.1
pg.pairwise_ttests(data = m_Baypar.query('ver == "log" & model == "LGM" & Exp == "Exp1"'), 
            dv = 'mu_p_g',  within =['part'], between = 'firstSession', subject = 'Nsub',  padjust='bonf', alternative="less").round(4)

,Contrast,part,A,B,Paired,Parametric,T,dof,alternative,p-unc,p-corr,p-adjust,BF10,hedges
0,part,-,all,part1,True,True,1.0004,15.0,less,0.8335,1.0000,bonf,0.787,0.0807
1,part,-,all,part2,True,True,0.7558,15.0,less,0.7693,1.0000,bonf,0.656,0.0690
2,part,-,part1,part2,True,True,-0.1209,15.0,less,0.4527,1.0000,bonf,0.514,-0.0162
3,firstSession,-,L-S-M,S-L-M,False,True,-2.3790,14.0,less,0.0161,NaN,NaN,4.674,-1.1246
4,part * firstSession,all,L-S-M,S-L-M,False,True,-2.3609,14.0,less,0.0166,0.0499,bonf,4.569,-1.1161
5,part * firstSession,part1,L-S-M,S-L-M,False,True,-2.6076,14.0,less,0.0103,0.0310,bonf,6.286,-1.2327
6,part * firstSession,part2,L-S-M,S-L-M,False,True,-1.8869,14.0,less,0.0400,0.1201,bonf,2.614,-0.8920

In [22]:
# for PIM model, significantly higher mean global priors for session order S-L-M than L-S-M in Exp.1
pg.pairwise_ttests(data = m_Baypar.query('ver == "log" & model == "PIM" & Exp == "Exp1"'), 
            dv = 'mu_p_g',  within =['part'], between = 'firstSession', subject = 'Nsub',  padjust='bonf', alternative="less").round(4)

,Contrast,part,A,B,Paired,Parametric,T,dof,alternative,p-unc,p-corr,p-adjust,BF10,hedges
0,part,-,all,part1,True,True,1.0123,15.0,less,0.8363,1.0000,bonf,0.795,0.0815
1,part,-,all,part2,True,True,0.7855,15.0,less,0.7778,1.0000,bonf,0.669,0.0706
2,part,-,part1,part2,True,True,-0.1159,15.0,less,0.4546,1.0000,bonf,0.514,-0.0154
3,firstSession,-,L-S-M,S-L-M,False,True,-2.3780,14.0,less,0.0161,NaN,NaN,4.669,-1.1242
4,part * firstSession,all,L-S-M,S-L-M,False,True,-2.3638,14.0,less,0.0165,0.0496,bonf,4.585,-1.1174
5,part * firstSession,part1,L-S-M,S-L-M,False,True,-2.5980,14.0,less,0.0105,0.0316,bonf,6.207,-1.2282
6,part * firstSession,part2,L-S-M,S-L-M,False,True,-1.8960,14.0,less,0.0394,0.1182,bonf,2.64,-0.8963

In [23]:
# for DIM model, significantly higher mean global priors for session order S-L-M than L-S-M in Exp.1
pg.pairwise_ttests(data = m_Baypar.query('ver == "log" & model == "DIM" & Exp == "Exp1"'), 
            dv = 'mu_p_g',  within =['part'], between = 'firstSession', subject = 'Nsub',  padjust='bonf', alternative="less").round(4)

,Contrast,part,A,B,Paired,Parametric,T,dof,alternative,p-unc,p-corr,p-adjust,BF10,hedges
0,part,-,all,part1,True,True,0.5441,15.0,less,0.7028,1.0000,bonf,0.582,0.0461
1,part,-,all,part2,True,True,1.6418,15.0,less,0.9393,1.0000,bonf,0.647,0.1479
2,part,-,part1,part2,True,True,0.8140,15.0,less,0.7858,1.0000,bonf,0.682,0.1017
3,firstSession,-,L-S-M,S-L-M,False,True,-1.3154,14.0,less,0.1048,NaN,NaN,1.507,-0.6218
4,part * firstSession,all,L-S-M,S-L-M,False,True,-1.2577,14.0,less,0.1145,0.3436,bonf,1.438,-0.5945
5,part * firstSession,part1,L-S-M,S-L-M,False,True,-1.5290,14.0,less,0.0743,0.2228,bonf,1.819,-0.7228
6,part * firstSession,part2,L-S-M,S-L-M,False,True,-1.0339,14.0,less,0.1593,0.4780,bonf,1.221,-0.4888

In [24]:
# significantly higher mean global priors for session order S-L-M than L-S-M in Exp.2
pg.pairwise_ttests(data = m_Baypar.query('ver == "log" & model == "LGM" & Exp == "Exp2"'), 
            dv = 'mu_p_g',  within =['part'], between = 'firstSession', subject = 'Nsub',  padjust='bonf', alternative="less").round(4)

,Contrast,part,A,B,Paired,Parametric,T,dof,alternative,p-unc,p-corr,p-adjust,BF10,hedges
0,part,-,all,part1,True,True,-1.2116,15.0,less,0.1222,0.3666,bonf,0.954,-0.0987
1,part,-,all,part2,True,True,-0.5715,15.0,less,0.2881,0.8642,bonf,0.59,-0.0434
2,part,-,part1,part2,True,True,0.4583,15.0,less,0.6733,1.0000,bonf,0.561,0.0613
3,firstSession,-,L-S-M,S-L-M,False,True,-3.8287,14.0,less,0.0009,NaN,NaN,36.475,-1.8100
4,part * firstSession,all,L-S-M,S-L-M,False,True,-3.6578,14.0,less,0.0013,0.0039,bonf,28.188,-1.7291
5,part * firstSession,part1,L-S-M,S-L-M,False,True,-3.9403,14.0,less,0.0007,0.0022,bonf,43.201,-1.8627
6,part * firstSession,part2,L-S-M,S-L-M,False,True,-3.2867,14.0,less,0.0027,0.0081,bonf,16.265,-1.5537

In [25]:
#for DIM model, significantly higher mean global priors for session order S-L-M than L-S-M in Exp.2
pg.pairwise_ttests(data = m_Baypar.query('ver == "log" & model == "DIM" & Exp == "Exp2"'), 
            dv = 'mu_p_g',  within =['part'], between = 'firstSession', subject = 'Nsub',  padjust='bonf', alternative="less").round(4)

,Contrast,part,A,B,Paired,Parametric,T,dof,alternative,p-unc,p-corr,p-adjust,BF10,hedges
0,part,-,all,part1,True,True,-0.3596,15.0,less,0.3621,1.0000,bonf,0.541,-0.0300
1,part,-,all,part2,True,True,1.2609,15.0,less,0.8867,1.0000,bonf,0.997,0.1017
2,part,-,part1,part2,True,True,1.0832,15.0,less,0.8521,1.0000,bonf,0.846,0.1363
3,firstSession,-,L-S-M,S-L-M,False,True,-3.4417,14.0,less,0.0020,NaN,NaN,20.426,-1.6270
4,part * firstSession,all,L-S-M,S-L-M,False,True,-3.1500,14.0,less,0.0035,0.0106,bonf,13.34,-1.4891
5,part * firstSession,part1,L-S-M,S-L-M,False,True,-3.7519,14.0,less,0.0011,0.0032,bonf,32.475,-1.7736
6,part * firstSession,part2,L-S-M,S-L-M,False,True,-3.0200,14.0,less,0.0046,0.0138,bonf,11.08,-1.4276

In [26]:
#for DIM model, significantly higher mean global priors for session order S-L-M than L-S-M in Exp.2
pg.pairwise_ttests(data = m_Baypar.query('ver == "log" & model == "PIM" & Exp == "Exp2"'), 
            dv = 'mu_p_g',  within =['part'], between = 'firstSession', subject = 'Nsub',  padjust='bonf', alternative="less").round(4)

,Contrast,part,A,B,Paired,Parametric,T,dof,alternative,p-unc,p-corr,p-adjust,BF10,hedges
0,part,-,all,part1,True,True,-1.2150,15.0,less,0.1216,0.3647,bonf,0.958,-0.0993
1,part,-,all,part2,True,True,-0.5552,15.0,less,0.2935,0.8804,bonf,0.585,-0.0422
2,part,-,part1,part2,True,True,0.4705,15.0,less,0.6776,1.0000,bonf,0.563,0.0629
3,firstSession,-,L-S-M,S-L-M,False,True,-3.8179,14.0,less,0.0009,NaN,NaN,35.88,-1.8048
4,part * firstSession,all,L-S-M,S-L-M,False,True,-3.6583,14.0,less,0.0013,0.0039,bonf,28.208,-1.7294
5,part * firstSession,part1,L-S-M,S-L-M,False,True,-3.9218,14.0,less,0.0008,0.0023,bonf,42.003,-1.8539
6,part * firstSession,part2,L-S-M,S-L-M,False,True,-3.2742,14.0,less,0.0028,0.0083,bonf,15.972,-1.5478

When the session order starts with the short session, estimated global prior mean yielded based on the part 1was higher in contrast with the results of part2. In contrast, the estimated global prior mean from the part 2 data set was higher than part1 when the long session was taken as the first session of the experiments.

In [27]:
#for PIM model, significantly higher mean global priors for session order S-L-M than L-S-M in Exp.2
pg.pairwise_ttests(data = m_Baypar.query('ver == "log" & model == "PIM" & Exp == "Exp2" & firstSession =="L-S-M"'), 
            dv = 'mu_p_g',  within =['part'],  subject = 'Nsub',  padjust='bonf', alternative="less").round(4)

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,p-corr,p-adjust,BF10,hedges
0,part,all,part1,True,True,-0.6132,7.0,less,0.2796,0.8387,bonf,0.786,-0.1949
1,part,all,part2,True,True,-1.3237,7.0,less,0.1136,0.3408,bonf,1.305,-0.3391
2,part,part1,part2,True,True,-0.3114,7.0,less,0.3823,1.0000,bonf,0.701,-0.1433

In [28]:
#for PIM model
pg.pairwise_ttests(data = m_Baypar.query('ver == "log" & model == "PIM" & Exp == "Exp1" & firstSession =="L-S-M"'), 
            dv = 'mu_p_g',  within =['part'],  subject = 'Nsub',  padjust='bonf', alternative="less").round(4)

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,p-corr,p-adjust,BF10,hedges
0,part,all,part1,True,True,0.7363,7.0,less,0.7573,1.0000,bonf,0.84,0.0865
1,part,all,part2,True,True,-0.5676,7.0,less,0.2940,0.8821,bonf,0.769,-0.0672
2,part,part1,part2,True,True,-0.7579,7.0,less,0.2366,0.7098,bonf,0.851,-0.1628

In [29]:
#for PIM model
pg.pairwise_ttests(data = m_Baypar.query('ver == "log" & model == "PIM" & Exp == "Exp2" & firstSession =="S-L-M"'), 
            dv = 'mu_p_g',  within =['part'],  subject = 'Nsub',  padjust='bonf', alternative="greater").round(4)

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,p-corr,p-adjust,BF10,hedges
0,part,all,part1,True,True,-1.1644,7.0,greater,0.8588,1.0000,bonf,0.879,-0.1179
1,part,all,part2,True,True,0.9683,7.0,greater,0.1826,0.5477,bonf,0.978,0.0759
2,part,part1,part2,True,True,1.4590,7.0,greater,0.0940,0.2819,bonf,1.478,0.2052

In [30]:
#for PIM model
pg.pairwise_ttests(data = m_Baypar.query('ver == "log" & model == "PIM" & Exp == "Exp1" & firstSession =="S-L-M"'), 
            dv = 'mu_p_g',  within =['part'],  subject = 'Nsub',  padjust='bonf', alternative="greater").round(4)

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,p-corr,p-adjust,BF10,hedges
0,part,all,part1,True,True,0.6459,7.0,greater,0.2695,0.8084,bonf,0.799,0.1106
1,part,all,part2,True,True,2.0550,7.0,greater,0.0395,0.1184,bonf,2.712,0.3188
2,part,part1,part2,True,True,1.3369,7.0,greater,0.1115,0.3346,bonf,1.321,0.2195

In [31]:
#for LGM model
pg.pairwise_ttests(data = m_Baypar.query('ver == "log" & model == "LGM" & Exp == "Exp2" & firstSession =="S-L-M"'), 
            dv = 'mu_p_g',  within =['part'],  subject = 'Nsub',  padjust='bonf', alternative="greater").round(4)

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,p-corr,p-adjust,BF10,hedges
0,part,all,part1,True,True,-1.1821,7.0,greater,0.8621,1.0000,bonf,0.866,-0.1221
1,part,all,part2,True,True,0.9291,7.0,greater,0.1919,0.5756,bonf,0.951,0.0755
2,part,part1,part2,True,True,1.4433,7.0,greater,0.0961,0.2882,bonf,1.456,0.2095

In [32]:
#for LGM model
pg.pairwise_ttests(data = m_Baypar.query('ver == "log" & model == "LGM" & Exp == "Exp1" & firstSession =="S-L-M"'), 
            dv = 'mu_p_g',  within =['part'],  subject = 'Nsub',  padjust='bonf', alternative="greater").round(4)

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,p-corr,p-adjust,BF10,hedges
0,part,all,part1,True,True,0.6114,7.0,greater,0.2801,0.8404,bonf,0.785,0.1047
1,part,all,part2,True,True,2.0595,7.0,greater,0.0392,0.1176,bonf,2.725,0.3200
2,part,part1,part2,True,True,1.3740,7.0,greater,0.1059,0.3177,bonf,1.366,0.2262

In [33]:
#for LGM model
pg.pairwise_ttests(data = m_Baypar.query('ver == "log" & model == "LGM" & Exp == "Exp2" & firstSession =="L-S-M"'), 
            dv = 'mu_p_g',  within =['part'],  subject = 'Nsub',  padjust='bonf', alternative="less").round(4)

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,p-corr,p-adjust,BF10,hedges
0,part,all,part1,True,True,-0.5848,7.0,less,0.2885,0.8655,bonf,0.775,-0.1844
1,part,all,part2,True,True,-1.3639,7.0,less,0.1074,0.3222,bonf,1.354,-0.3445
2,part,part1,part2,True,True,-0.3472,7.0,less,0.3693,1.0000,bonf,0.708,-0.1585

In [34]:
#for LGM model
pg.pairwise_ttests(data = m_Baypar.query('ver == "log" & model == "LGM" & Exp == "Exp1" & firstSession =="L-S-M"'), 
            dv = 'mu_p_g',  within =['part'],  subject = 'Nsub',  padjust='bonf', alternative="less").round(4)

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,p-corr,p-adjust,BF10,hedges
0,part,all,part1,True,True,0.7503,7.0,less,0.7612,1.0000,bonf,0.847,0.0883
1,part,all,part2,True,True,-0.5816,7.0,less,0.2895,0.8686,bonf,0.774,-0.0705
2,part,part1,part2,True,True,-0.7765,7.0,less,0.2314,0.6943,bonf,0.86,-0.1684

In [35]:
#for DIM model
pg.pairwise_ttests(data = m_Baypar.query('ver == "log" & model == "DIM" & Exp == "Exp2" & firstSession =="L-S-M"'), 
            dv = 'mu_p_g',  within =['part'],  subject = 'Nsub',  padjust='bonf', alternative="less").round(4)

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,p-corr,p-adjust,BF10,hedges
0,part,all,part1,True,True,0.1293,7.0,less,0.5496,1.0000,bonf,0.677,0.0446
1,part,all,part2,True,True,-0.4916,7.0,less,0.3190,0.9571,bonf,0.744,-0.1622
2,part,part1,part2,True,True,-0.3596,7.0,less,0.3649,1.0000,bonf,0.71,-0.1845

In [36]:
#for DIM model
pg.pairwise_ttests(data = m_Baypar.query('ver == "log" & model == "DIM" & Exp == "Exp1" & firstSession =="L-S-M"'), 
            dv = 'mu_p_g',  within =['part'],  subject = 'Nsub',  padjust='bonf', alternative="less").round(4)

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,p-corr,p-adjust,BF10,hedges
0,part,all,part1,True,True,0.7663,7.0,less,0.7657,1.0,bonf,0.855,0.0776
1,part,all,part2,True,True,0.5851,7.0,less,0.7116,1.0,bonf,0.775,0.0597
2,part,part1,part2,True,True,-0.1334,7.0,less,0.4488,1.0,bonf,0.678,-0.0211

In [37]:
#for DIM model
pg.pairwise_ttests(data = m_Baypar.query('ver == "log" & model == "DIM" & Exp == "Exp2" & firstSession =="S-L-M"'), 
            dv = 'mu_p_g',  within =['part'],  subject = 'Nsub',  padjust='bonf', alternative="greater").round(4)

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,p-corr,p-adjust,BF10,hedges
0,part,all,part1,True,True,-0.7985,7.0,greater,0.7746,1.0000,bonf,0.872,-0.0753
1,part,all,part2,True,True,2.8147,7.0,greater,0.0130,0.0390,bonf,6.231,0.2324
2,part,part1,part2,True,True,3.3604,7.0,greater,0.0060,0.0181,bonf,11.267,0.3378

In [38]:
#for DIM model
pg.pairwise_ttests(data = m_Baypar.query('ver == "log" & model == "DIM" & Exp == "Exp1" & firstSession =="S-L-M"'), 
            dv = 'mu_p_g',  within =['part'],  subject = 'Nsub',  padjust='bonf', alternative="greater").round(4)

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,p-corr,p-adjust,BF10,hedges
0,part,all,part1,True,True,-0.0148,7.0,greater,0.5057,1.0000,bonf,0.673,-0.0025
1,part,all,part2,True,True,1.6758,7.0,greater,0.0688,0.2065,bonf,1.826,0.2888
2,part,part1,part2,True,True,1.3637,7.0,greater,0.1075,0.3224,bonf,1.353,0.2814

## Weights of global prior

In [39]:
mweight_sub = pd.read_csv('generated/mweight_sub.csv')
mweight_sub.head()

,Unnamed: 0,NSub,model,Exp,m_W_Ds,m_W_P_G,m_W_L,n,se_W_Ds,se_W_P_G,se_W_L
0,1,1,DIM,Exp1,0.464865,0.133991,0.401144,138,0.008536,0.003882,0.012418
1,2,1,DIM,Exp2,0.833256,0.031847,0.134897,140,0.006895,0.000199,0.007094
2,3,1,LGM,Exp1,0.362693,0.118140,0.519167,138,0.007866,0.002546,0.010412
3,4,1,LGM,Exp2,0.746791,0.015436,0.237773,140,0.011494,0.000235,0.011729
4,5,1,PIM,Exp1,0.362637,0.117812,0.519551,138,0.007864,0.002522,0.010386

In [40]:
aov = pg.rm_anova(data = mweight_sub, 
            dv = 'm_W_P_G', 
            within = ['model','Exp'], 
            subject = 'NSub', detailed = True)
aov.round(4)

,Source,SS,ddof1,ddof2,MS,F,p-unc,p-GG-corr,np2,eps
0,model,0.0102,2,30,0.0051,14.7269,0.0000,0.0016,0.4954,0.5002
1,Exp,0.4535,1,15,0.4535,5.6816,0.0308,0.0308,0.2747,1.0000
2,model * Exp,0.0009,2,30,0.0004,1.9650,0.1578,0.1813,0.1158,0.5003

In [41]:
aov = pg.rm_anova(data = mweight_sub, 
            dv = 'm_W_L', 
            within = ['model','Exp'], 
            subject = 'NSub', detailed = True)
aov.round(4)

,Source,SS,ddof1,ddof2,MS,F,p-unc,p-GG-corr,np2,eps
0,model,0.2448,2,30,0.1224,543.9500,0.0000,0.0000,0.9732,0.5003
1,Exp,0.0415,1,15,0.0415,0.9189,0.3530,0.3530,0.0577,1.0000
2,model * Exp,0.0000,2,30,0.0000,0.0603,0.9416,0.8095,0.0040,0.5002

In [42]:
aov = pg.rm_anova(data = mweight_sub, 
            dv = 'm_W_Ds', 
            within = ['model','Exp'], 
            subject = 'NSub', detailed = True)
aov.round(4)

,Source,SS,ddof1,ddof2,MS,F,p-unc,p-GG-corr,np2,eps
0,model,0.1550,2,30,0.0775,106.5366,0.0000,0.0000,0.8766,0.5
1,Exp,0.7692,1,15,0.7692,5.3451,0.0354,0.0354,0.2627,1.0
2,model * Exp,0.0005,2,30,0.0003,0.9532,0.3969,0.3444,0.0598,0.5

In [43]:
pg.pairwise_ttests(data = mweight_sub.query('model == "LGM"'), 
            dv = 'm_W_P_G',  within =['Exp'],  subject = 'NSub',  padjust='bonf', alternative="less").round(4)

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,BF10,hedges
0,Exp,Exp1,Exp2,True,True,-2.3915,15.0,less,0.0152,4.451,-0.7788

In [44]:
pg.pairwise_ttests(data = mweight_sub.query('model == "DIM"'), 
            dv = 'm_W_P_G',  within =['Exp'],  subject = 'NSub',  padjust='bonf', alternative="less").round(4)

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,BF10,hedges
0,Exp,Exp1,Exp2,True,True,-2.3595,15.0,less,0.0161,4.236,-0.7578

In [45]:
pg.pairwise_ttests(data = mweight_sub.query('model == "PIM"'), 
            dv = 'm_W_P_G',  within =['Exp'],  subject = 'NSub',  padjust='bonf', alternative="less").round(4)

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,BF10,hedges
0,Exp,Exp1,Exp2,True,True,-2.3913,15.0,less,0.0152,4.45,-0.779

In [46]:
PredY_mixed_dat = pd.read_csv('generated/PredY_mixed_dat.csv')
PredY_mixed_dat = PredY_mixed_dat.query('part == "all"') 
PredY_mixed_dat.head()

,Unnamed: 0,NSub,targetDur,model,Exp,W_Ds,W_P_G,W_L,ver,part,range
0,1,1,0.565685,LGM,Exp1,0.270957,0.088447,0.640595,log,all,short
1,2,1,1.200000,LGM,Exp1,0.454429,0.147833,0.397739,log,all,long
2,3,1,0.800000,LGM,Exp1,0.270957,0.088447,0.640595,log,all,short
3,4,1,1.697056,LGM,Exp1,0.454429,0.147833,0.397739,log,all,long
4,5,1,0.672717,LGM,Exp1,0.270957,0.088447,0.640595,log,all,short

In [47]:
aov = pg.rm_anova(data = PredY_mixed_dat.query('ver == "log"') , 
            dv = 'W_P_G', 
            within = ['model','Exp'], 
            subject = 'NSub', detailed = True)
aov.round(4)

,Source,SS,ddof1,ddof2,MS,F,p-unc,p-GG-corr,np2,eps
0,model,0.0102,2,30,0.0051,14.7269,0.0000,0.0016,0.4954,0.5002
1,Exp,0.4535,1,15,0.4535,5.6816,0.0308,0.0308,0.2747,1.0000
2,model * Exp,0.0009,2,30,0.0004,1.9650,0.1578,0.1813,0.1158,0.5003

In [48]:
PredY_mixed_linear = PredY_mixed_dat.query('ver == "linear"') 

aov = pg.rm_anova(data = PredY_mixed_linear, 
            dv = 'W_Ds', 
            within = ['model','Exp'], 
            subject = 'NSub', detailed = True)
aov.round(3)

,Source,SS,ddof1,ddof2,MS,F,p-unc,p-GG-corr,np2,eps
0,model,0.294,2,30,0.147,109.262,0.000,0.000,0.879,0.5
1,Exp,0.781,1,15,0.781,6.238,0.025,0.025,0.294,1.0
2,model * Exp,0.002,2,30,0.001,0.760,0.477,0.397,0.048,0.5

In [49]:
aov = pg.rm_anova(data = PredY_mixed_linear, 
            dv = 'W_P_G', 
            within = ['model','Exp'], 
            subject = 'NSub', detailed = True)
aov.round(3)

,Source,SS,ddof1,ddof2,MS,F,p-unc,p-GG-corr,np2,eps
0,model,0.016,2,30,0.008,6.334,0.005,0.024,0.297,0.5
1,Exp,0.585,1,15,0.585,7.343,0.016,0.016,0.329,1.0
2,model * Exp,0.000,2,30,0.000,0.000,1.000,0.983,0.000,0.5

In [50]:
aov = pg.rm_anova(data = PredY_mixed_linear, 
            dv = 'W_L', 
            within = ['model','Exp'], 
            subject = 'NSub', detailed = True)
aov.round(3)

,Source,SS,ddof1,ddof2,MS,F,p-unc,p-GG-corr,np2,eps
0,model,0.173,2,30,0.086,123.993,0.000,0.000,0.892,0.5
1,Exp,0.014,1,15,0.014,0.281,0.604,0.604,0.018,1.0
2,model * Exp,0.002,2,30,0.001,1.899,0.167,0.188,0.112,0.5

## Repeated-measures ANOVA on the reproduction error in Exp1

In [51]:
pg.pairwise_ttests(data = sumexpSub1, 
            dv = 'm_err',  within =['priortype'], subject = 'NSub').round(3)

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,BF10,hedges
0,priortype,BR,IR,True,True,0.138,15.0,two-sided,0.892,0.258,0.028

In [52]:
pg.pairwise_ttests(data = sumexpSub1.query('range == "short"'), 
            dv = 'm_err',  within =['targetDur'], between =['priortype'], subject = 'NSub',  padjust='bonf', alternative="less").round(3) #between='targetDur',

,Contrast,targetDur,A,B,Paired,Parametric,T,dof,alternative,p-unc,p-corr,p-adjust,BF10,hedges
0,targetDur,-,0.4,0.475683,True,True,2.478,15.0,less,0.987,1.000,bonf,0.196,0.413
1,targetDur,-,0.4,0.565685,True,True,4.557,15.0,less,1.000,1.000,bonf,0.006,1.039
2,targetDur,-,0.4,0.672717,True,True,8.099,15.0,less,1.000,1.000,bonf,2.156e-05,2.241
3,targetDur,-,0.4,0.8,True,True,9.201,15.0,less,1.000,1.000,bonf,4.976e-06,3.245
4,targetDur,-,0.475683,0.565685,True,True,3.242,15.0,less,0.997,1.000,bonf,0.055,0.559
5,targetDur,-,0.475683,0.672717,True,True,7.375,15.0,less,1.000,1.000,bonf,6.045e-05,1.716
6,targetDur,-,0.475683,0.8,True,True,8.235,15.0,less,1.000,1.000,bonf,1.789e-05,2.732
7,targetDur,-,0.565685,0.672717,True,True,9.360,15.0,less,1.000,1.000,bonf,4.066e-06,1.248
8,targetDur,-,0.565685,0.8,True,True,9.401,15.0,less,1.000,1.000,bonf,3.864e-06,2.344
9,targetDur,-,0.672717,0.8,True,True,6.140,15.0,less,1.000,1.000,bonf,0.0,1.168
10,priortype,-,BR,IR,False,True,-3.930,30.0,less,0.000,NaN,NaN,116.595,-1.354
11,targetDur * priortype,0.4,BR,IR,False,True,-0.254,30.0,less,0.401,1.000,bonf,0.689,-0.087
12,targetDur * priortype,0.475683,BR,IR,False,True,-1.275,30.0,less,0.106,0.530,bonf,1.247,-0.439
13,targetDur * priortype,0.565685,BR,IR,False,True,-2.932,30.0,less,0.003,0.016,bonf,14.257,-1.011
14,targetDur * priortype,0.672717,BR,IR,False,True,-4.331,30.0,less,0.000,0.000,bonf,295.052,-1.493
15,targetDur * priortype,0.8,BR,IR,False,True,-4.691,30.0,less,0.000,0.000,bonf,698.138,-1.617

In [53]:
#reproduction bias for intervals from short range in BR condition was less than IR condition[t(15) = -4.943, p <.0001, BF10= 345.098]
pg.pairwise_ttests(data = sumexpSub1.query('range == "short"'), 
            dv = 'm_err',  within =['priortype'], subject = 'NSub',  padjust='bonf', alternative="less").round(3) #between='targetDur',

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,BF10,hedges
0,priortype,BR,IR,True,True,-4.943,15.0,less,0.0,345.098,-1.354

In [54]:
#reproduction bias for intervals from long range in BR condition was greater than IR condition[t(15) =2.073, p = 0.028, BF10= 2.763]
pg.pairwise_ttests(data = sumexpSub1.query('range == "long"'), 
            dv = 'm_err',  within =['priortype'], subject = 'NSub', padjust = 'holm', alternative="greater").round(3)

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,BF10,hedges
0,priortype,BR,IR,True,True,2.073,15.0,greater,0.028,2.763,0.453

In [55]:
#A repeated-measures ANOVA on the reproduction error in Exp1 
dat_exp = pd.read_csv('generated/m_exp_sub.csv')
dat_exp1 = dat_exp.query('Exp == "Exp1"')
dat_exp1.head()

,Unnamed: 0,NSub,Exp,priortype,range,m_m_BIAS,m_m_err,m_m_RP,m_sd_RP,m_sd_err,m_se_RP,m_se_err,m_sd_BIAS,m_se_BIAS,m_CV,n,se_CV,m_NBIAS,m_NRMSE
0,1,1,Exp1,BR,long,0.243772,-0.012401,1.736051,0.222471,0.222471,0.041737,0.041737,0.222471,0.031632,0.129656,5,0.010436,0.146540,0.196509
1,2,1,Exp1,BR,short,0.107344,-0.001147,0.581670,0.091307,0.091307,0.017150,0.017150,0.091307,0.014650,0.158744,5,0.016644,0.191666,0.250437
2,3,1,Exp1,IR,long,0.306467,-0.233180,1.515271,0.247277,0.247277,0.068960,0.068960,0.247277,0.056033,0.161721,5,0.015350,0.162711,0.231734
3,4,1,Exp1,IR,short,0.085562,0.032269,0.615086,0.093022,0.093022,0.026146,0.026146,0.093022,0.019038,0.151507,5,0.024335,0.153771,0.217675
8,9,2,Exp1,BR,long,0.225310,-0.101326,1.647125,0.194919,0.194919,0.036195,0.036195,0.194919,0.026685,0.117265,5,0.008365,0.123437,0.171011

In [56]:
mdat_exp1 = dat_exp1.groupby(['priortype', 'range']).m_m_err.mean().round(2)
mdat_exp1

priortype  range
BR         long    -0.04
           short    0.01
IR         long    -0.10
           short    0.07
Name: m_m_err, dtype: float64

In [57]:
aov = pg.rm_anova(data = dat_exp1, 
            dv = 'm_m_err', 
            within = ['priortype', 'range'], 
            subject = 'NSub', detailed = True)
aov.round(3)

,Source,SS,ddof1,ddof2,MS,F,p-unc,p-GG-corr,np2,eps
0,priortype,0.000,1,15,0.000,0.019,0.892,0.892,0.001,1.0
1,range,0.206,1,15,0.206,12.863,0.003,0.003,0.462,1.0
2,priortype * range,0.055,1,15,0.055,11.023,0.005,0.005,0.424,1.0

In [58]:
#
aov = pg.rm_anova(data = dat_exp1.query('range == "short"'), 
            dv = 'm_m_err', 
            within = ['priortype'], 
            subject = 'NSub', detailed = True)
aov.round(4)

      Source      SS  DF      MS        F   p-unc     np2  eps
0  priortype  0.0258   1  0.0258  24.4305  0.0002  0.6196  1.0
1      Error  0.0159  15  0.0011      NaN     NaN     NaN  NaN

In [59]:
aov = pg.rm_anova(data = dat_exp1.query('range == "long"'), 
            dv = 'm_m_err', 
            within = ['priortype'], 
            subject = 'NSub', detailed = True)
aov.round(3)

      Source     SS  DF     MS      F  p-unc    np2  eps
0  priortype  0.029   1  0.029  4.299  0.056  0.223  1.0
1      Error  0.102  15  0.007    NaN    NaN    NaN  NaN

In [60]:
dat_exp1.groupby('priortype').m_m_err.mean()

priortype
BR   -0.015860
IR   -0.017718
Name: m_m_err, dtype: float64

## Linear effect between target durations and RP errors

In [61]:
pg.linear_regression(sumexpSub1.query('priortype == "IR"')['m_err'], sumexpSub1.query('priortype == "IR"')['targetDur']).round(3)

       names   coef     se       T  pval     r2  adj_r2  CI[2.5%]  CI[97.5%]
0  Intercept  1.124  0.040  27.927   0.0  0.423    0.42     1.045      1.204
1      m_err -2.322  0.216 -10.767   0.0  0.423    0.42    -2.748     -1.896

In [62]:
pg.linear_regression(sumexpSub1.query('priortype == "BR"')['m_err'], sumexpSub1.query('priortype == "BR"')['targetDur']).round(3)

       names   coef     se       T  pval     r2  adj_r2  CI[2.5%]  CI[97.5%]
0  Intercept  1.131  0.046  24.795   0.0  0.261   0.257     1.041      1.221
1      m_err -2.207  0.295  -7.478   0.0  0.261   0.257    -2.790     -1.624

In [63]:
sumexpSub2 = sumexpSub.query('Exp == "Exp2"') 
pg.linear_regression(sumexpSub2.query('priortype == "IR"')['m_err'], sumexpSub2.query('priortype == "IR"')['targetDur']).round(3)

       names   coef     se       T  pval     r2  adj_r2  CI[2.5%]  CI[97.5%]
0  Intercept  1.012  0.026  38.991   0.0  0.645   0.643     0.961      1.064
1      m_err -1.868  0.110 -16.938   0.0  0.645   0.643    -2.086     -1.650

In [64]:
pg.linear_regression(sumexpSub2.query('priortype == "BR"')['m_err'], sumexpSub2.query('priortype == "BR"')['targetDur']).round(3)

       names   coef     se       T  pval     r2  adj_r2  CI[2.5%]  CI[97.5%]
0  Intercept  1.039  0.035  29.806   0.0  0.358   0.354     0.970      1.108
1      m_err -2.645  0.282  -9.383   0.0  0.358   0.354    -3.202     -2.088

## Repeated-measures ANOVA on the reproduction bias in Exp2

In [65]:
aov = pg.rm_anova(data = sumexpSub2, 
            dv = 'sd_RP', 
            within = ['priortype','targetDur'], 
            subject = 'NSub', detailed = True)
aov.round(3)

,Source,SS,ddof1,ddof2,MS,F,p-unc,p-GG-corr,np2,eps
0,priortype,0.000,1,15,0.000,0.017,0.898,0.898,0.001,1.000
1,targetDur,1.096,9,135,0.122,98.921,0.000,0.000,0.868,0.322
2,priortype * targetDur,0.060,9,135,0.007,5.875,0.000,0.000,0.281,0.507

In [66]:
sumexpSub2_new = sumexpSub2.query('priortype == "BR"')
pg.linear_regression(sumexpSub2_new['sd_err'], sumexpSub2_new['targetDur']).round(5)

,names,coef,se,T,pval,r2,adj_r2,CI[2.5%],CI[97.5%]
0,Intercept,0.19006,0.04419,4.30100,0.00003,0.77605,0.77464,0.10278,0.27734
1,sd_err,6.03581,0.25795,23.39924,0.00000,0.77605,0.77464,5.52633,6.54528

In [67]:
sumexpSub2_new = sumexpSub2.query('priortype == "IR"')
pg.linear_regression(sumexpSub2_new['sd_err'], sumexpSub2_new['targetDur']).round(3)

       names   coef     se       T  pval    r2  adj_r2  CI[2.5%]  CI[97.5%]
0  Intercept  0.395  0.076   5.212   0.0  0.41   0.406     0.245      0.544
1     sd_err  4.666  0.445  10.479   0.0  0.41   0.406     3.787      5.546

In [68]:
pg.pairwise_ttests(data = sumexpSub2.query('range == "short"'), 
            dv = 'm_err',  within =['targetDur'], between =['priortype'], subject = 'NSub',  padjust='bonf', alternative="less").round(3) #between='targetDur',

,Contrast,targetDur,A,B,Paired,Parametric,T,dof,alternative,p-unc,p-corr,p-adjust,BF10,hedges
0,targetDur,-,0.4912,0.542863,True,True,2.591,15.0,less,0.990,1.000,bonf,0.164,0.226
1,targetDur,-,0.4912,0.599959,True,True,9.129,15.0,less,1.000,1.000,bonf,5.457e-06,0.902
2,targetDur,-,0.4912,0.663061,True,True,10.419,15.0,less,1.000,1.000,bonf,1.123e-06,1.707
3,targetDur,-,0.4912,0.7328,True,True,11.861,15.0,less,1.000,1.000,bonf,2.26e-07,2.644
4,targetDur,-,0.542863,0.599959,True,True,5.188,15.0,less,1.000,1.000,bonf,0.002,0.613
5,targetDur,-,0.542863,0.663061,True,True,8.042,15.0,less,1.000,1.000,bonf,2.333e-05,1.332
6,targetDur,-,0.542863,0.7328,True,True,10.303,15.0,less,1.000,1.000,bonf,1.287e-06,2.153
7,targetDur,-,0.599959,0.663061,True,True,6.792,15.0,less,1.000,1.000,bonf,0.0,0.760
8,targetDur,-,0.599959,0.7328,True,True,8.386,15.0,less,1.000,1.000,bonf,1.454e-05,1.669
9,targetDur,-,0.663061,0.7328,True,True,6.472,15.0,less,1.000,1.000,bonf,0.0,0.960
10,priortype,-,BR,IR,False,True,-3.492,30.0,less,0.001,NaN,NaN,44.383,-1.203
11,targetDur * priortype,0.4912,BR,IR,False,True,-2.573,30.0,less,0.008,0.038,bonf,7.379,-0.887
12,targetDur * priortype,0.542863,BR,IR,False,True,-2.899,30.0,less,0.003,0.017,bonf,13.379,-0.999
13,targetDur * priortype,0.599959,BR,IR,False,True,-2.910,30.0,less,0.003,0.017,bonf,13.657,-1.003
14,targetDur * priortype,0.663061,BR,IR,False,True,-3.965,30.0,less,0.000,0.001,bonf,126.43,-1.367
15,targetDur * priortype,0.7328,BR,IR,False,True,-4.448,30.0,less,0.000,0.000,bonf,389.512,-1.533

In [69]:
pg.pairwise_ttests(data = sumexpSub2.query('range == "long"'), 
            dv = 'm_err',  within =['targetDur'], between =['priortype'], subject = 'NSub',  padjust='bonf', alternative="greater").round(3) #between='targetDur',

,Contrast,targetDur,A,B,Paired,Parametric,T,dof,alternative,p-unc,p-corr,p-adjust,BF10,hedges
0,targetDur,-,1.31,1.447782,True,True,3.585,15.0,greater,0.001,0.014,bonf,32.644,0.639
1,targetDur,-,1.31,1.600055,True,True,7.039,15.0,greater,0.000,0.000,bonf,1.005e+04,1.677
2,targetDur,-,1.31,1.768343,True,True,8.046,15.0,greater,0.000,0.000,bonf,4.306e+04,2.197
3,targetDur,-,1.31,1.954332,True,True,9.510,15.0,greater,0.000,0.000,bonf,2.969e+05,2.803
4,targetDur,-,1.447782,1.600055,True,True,5.868,15.0,greater,0.000,0.000,bonf,1613.257,1.131
5,targetDur,-,1.447782,1.768343,True,True,6.782,15.0,greater,0.000,0.000,bonf,6812.917,1.724
6,targetDur,-,1.447782,1.954332,True,True,9.004,15.0,greater,0.000,0.000,bonf,1.559e+05,2.371
7,targetDur,-,1.600055,1.768343,True,True,4.854,15.0,greater,0.000,0.001,bonf,296.528,0.675
8,targetDur,-,1.600055,1.954332,True,True,7.917,15.0,greater,0.000,0.000,bonf,3.595e+04,1.367
9,targetDur,-,1.768343,1.954332,True,True,4.999,15.0,greater,0.000,0.001,bonf,379.613,0.689
10,priortype,-,BR,IR,False,True,3.845,30.0,greater,0.000,NaN,NaN,96.239,1.325
11,targetDur * priortype,1.31,BR,IR,False,True,5.019,30.0,greater,0.000,0.000,bonf,1553.758,1.730
12,targetDur * priortype,1.447782,BR,IR,False,True,3.606,30.0,greater,0.001,0.003,bonf,56.771,1.243
13,targetDur * priortype,1.600055,BR,IR,False,True,3.344,30.0,greater,0.001,0.006,bonf,32.492,1.152
14,targetDur * priortype,1.768343,BR,IR,False,True,2.892,30.0,greater,0.004,0.018,bonf,13.205,0.997
15,targetDur * priortype,1.954332,BR,IR,False,True,2.486,30.0,greater,0.009,0.047,bonf,6.348,0.857

In [70]:
#In Exp.2, reproduction bias for intervals in short range in BR condition was less than IR condition [t(15) = -3.5466, p <.001, BF10 = 30.547];
pg.pairwise_ttests(data = sumexpSub2.query('range == "short"'), 
            dv = 'm_err',  within =['priortype'], subject = 'NSub',  padjust='bonf', alternative="less").round(4) #between='targetDur',

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,BF10,hedges
0,priortype,BR,IR,True,True,-3.5466,15.0,less,0.0015,30.547,-1.2033

In [71]:
#reproduction bias for intervals in long range in BR condition was greater than IR condition: t(15) = 4.748, p = .0001, BF10 = 262.829.
pg.pairwise_ttests(data = sumexpSub2.query('range == "long"'), 
            dv = 'm_err',  within =['priortype'], subject = 'NSub', padjust = 'holm', alternative="greater").round(4)

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,BF10,hedges
0,priortype,BR,IR,True,True,4.7837,15.0,greater,0.0001,262.829,1.325

In [72]:
dat_exp2 = dat_exp.query('Exp == "Exp2"')
dat_exp2.head()

,Unnamed: 0,NSub,Exp,priortype,range,m_m_BIAS,m_m_err,m_m_RP,m_sd_RP,m_sd_err,m_se_RP,m_se_err,m_sd_BIAS,m_se_BIAS,m_CV,n,se_CV,m_NBIAS,m_NRMSE
4,5,1,Exp2,BR,long,0.162361,-0.066208,1.549895,0.192422,0.192422,0.036131,0.036131,0.192422,0.023041,0.126540,5,0.012230,0.102099,0.162753
5,6,1,Exp2,BR,short,0.077279,0.014793,0.620770,0.084722,0.084722,0.015884,0.015884,0.084722,0.009944,0.136445,5,0.011606,0.129838,0.188973
6,7,1,Exp2,IR,long,0.119380,-0.091241,1.524861,0.113291,0.113291,0.031421,0.031421,0.113291,0.022692,0.074171,5,0.005938,0.073627,0.104575
7,8,1,Exp2,IR,short,0.056994,0.020292,0.626268,0.064752,0.064752,0.017959,0.017959,0.064752,0.011366,0.104313,5,0.015661,0.096095,0.143019
12,13,2,Exp2,BR,long,0.205742,-0.075074,1.541029,0.205995,0.205995,0.038633,0.038633,0.205995,0.025630,0.133560,5,0.008144,0.125575,0.184084

In [73]:
aov = pg.rm_anova(data = dat_exp2, 
            dv = 'm_m_err', 
            within = ['priortype', 'range'], 
            subject = 'NSub', detailed = True)
aov.round(3)

,Source,SS,ddof1,ddof2,MS,F,p-unc,p-GG-corr,np2,eps
0,priortype,0.011,1,15,0.011,2.452,0.138,0.138,0.141,1.0
1,range,0.698,1,15,0.698,42.183,0.000,0.000,0.738,1.0
2,priortype * range,0.228,1,15,0.228,26.494,0.000,0.000,0.638,1.0

## Repeated-measures ANOVA on the reproduction error in Exp1

In [74]:
slope_pr = pd.read_csv('generated/slope_pr.csv')
slope_pr1 = slope_pr.query('Exp == "Exp1"') 
slope_pr1.head()

,Unnamed: 0,NSub,Exp,priortype,range,minRP,slope,inP,maxDur,mixDur,inPOutlier,CI
0,1,1,Exp1,BR,long,0.798440,0.536491,1.722598,2.4,0.4,False,0.463509
1,2,1,Exp1,BR,short,0.410482,0.292836,0.580462,2.4,0.4,False,0.707164
2,3,1,Exp1,IR,long,0.697876,0.467893,1.311533,2.4,0.4,False,0.532107
3,4,1,Exp1,IR,short,0.209439,0.695945,0.688820,2.4,0.4,False,0.304055
8,9,2,Exp1,BR,long,0.704953,0.538861,1.528722,2.4,0.4,False,0.461139

In [75]:
aov = pg.rm_anova(data = slope_pr1, 
            dv = 'CI', 
            within = ['priortype','range'], 
            subject = 'NSub', detailed = True)
aov.round(3)

,Source,SS,ddof1,ddof2,MS,F,p-unc,p-GG-corr,np2,eps
0,priortype,0.438,1,15,0.438,24.175,0.000,0.000,0.617,1.0
1,range,0.077,1,15,0.077,2.452,0.138,0.138,0.140,1.0
2,priortype * range,0.279,1,15,0.279,10.973,0.005,0.005,0.422,1.0

In [76]:
aov = pg.rm_anova(data = slope_pr1.query('range == "short"'), 
            dv = 'CI', 
            within = ['priortype'], 
            subject = 'NSub', detailed = True)
aov.round(3)

      Source     SS  DF     MS     F  p-unc    np2  eps
0  priortype  0.708   1  0.708  18.5  0.001  0.552  1.0
1      Error  0.574  15  0.038   NaN    NaN    NaN  NaN

In [77]:
aov = pg.rm_anova(data = slope_pr1.query('range == "long"'), 
            dv = 'CI', 
            within = ['priortype'], 
            subject = 'NSub', detailed = True)
aov.round(3)

      Source     SS  DF     MS      F  p-unc    np2  eps
0  priortype  0.009   1  0.009  1.709  0.211  0.102  1.0
1      Error  0.079  15  0.005    NaN    NaN    NaN  NaN

In [78]:
pg.pairwise_ttests(data = slope_pr1.query('range == "short"'), 
            dv = 'CI',  within =['priortype'], subject = 'NSub', alternative="greater").round(3)

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,BF10,hedges
0,priortype,BR,IR,True,True,4.301,15.0,greater,0.0,113.98,1.32

In [79]:
pg.pairwise_ttests(data = slope_pr1.query('range == "long"'), 
            dv = 'CI',  within =['priortype'], subject = 'NSub', alternative="less").round(3)

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,BF10,hedges
0,priortype,BR,IR,True,True,1.307,15.0,less,0.895,0.951,0.167

## Repeated-measures ANOVA on the reproduction error in Exp2

In [80]:
slope_pr2 = slope_pr.query('Exp == "Exp2"') 
slope_pr2.head()

,Unnamed: 0,NSub,Exp,priortype,range,minRP,slope,inP,maxDur,mixDur,inPOutlier,CI
4,5,1,Exp2,BR,long,0.125723,0.881100,1.057387,1.954332,0.4912,False,0.118900
5,6,1,Exp2,BR,short,0.300633,0.528377,0.637443,1.954332,0.4912,False,0.471623
6,7,1,Exp2,IR,long,0.081054,0.893389,0.760273,1.954332,0.4912,False,0.106611
7,8,1,Exp2,IR,short,0.102198,0.864836,0.756103,1.954332,0.4912,False,0.135164
12,13,2,Exp2,BR,long,0.851238,0.426620,1.484598,1.954332,0.4912,False,0.573380

In [81]:
aov = pg.rm_anova(data = slope_pr2, 
            dv = 'CI', 
            within = ['priortype','range'], 
            subject = 'NSub', detailed = True)
aov.round(3)

,Source,SS,ddof1,ddof2,MS,F,p-unc,p-GG-corr,np2,eps
0,priortype,0.034,1,15,0.034,1.177,0.295,0.295,0.073,1.0
1,range,0.224,1,15,0.224,8.357,0.011,0.011,0.358,1.0
2,priortype * range,0.025,1,15,0.025,0.870,0.366,0.366,0.055,1.0

In [82]:
aov = pg.rm_anova(data = slope_pr2.query('range == "short"'), 
            dv = 'CI', 
            within = ['priortype'], 
            subject = 'NSub', detailed = True)
aov.round(3)

      Source     SS  DF     MS      F  p-unc    np2  eps
0  priortype  0.058   1  0.058  1.751  0.206  0.105  1.0
1      Error  0.500  15  0.033    NaN    NaN    NaN  NaN

In [83]:
aov = pg.rm_anova(data = slope_pr2.query('range == "long"'), 
            dv = 'CI', 
            within = ['priortype'], 
            subject = 'NSub', detailed = True)
aov.round(3)

      Source    SS  DF     MS      F  p-unc    np2  eps
0  priortype  0.00   1  0.000  0.013   0.91  0.001  1.0
1      Error  0.36  15  0.024    NaN    NaN    NaN  NaN

In [84]:
pg.pairwise_ttests(data = slope_pr2.query('range == "short"'), 
            dv = 'CI',  within =['priortype'], subject = 'NSub', alternative="greater").round(3)

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,BF10,hedges
0,priortype,BR,IR,True,True,1.323,15.0,greater,0.103,1.07,0.328

In [85]:
pg.pairwise_ttests(data = slope_pr2.query('range == "long"'), 
            dv = 'CI',  within =['priortype'], subject = 'NSub', alternative="greater").round(3)

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,BF10,hedges
0,priortype,BR,IR,True,True,0.115,15.0,greater,0.455,0.514,0.025

## A repeated measures ANOVA of Indifference Point

In [86]:
cilist = pd.read_csv('generated/cilist.csv')
cilist1 = cilist.query('Exp == "Exp1"') 
cilist2 = cilist.query('Exp == "Exp2"') 
cilist.head()

,Unnamed: 0,X,Exp,priortype,group_sl,NSub,sdInP,mInP,mSlope,sdSlope,mIntercept,sdIntercept,inPOutlier,range,group
0,1,1,Exp1,BR,long,1,0.043897,1.706619,0.540170,0.050335,0.785279,0.090552,False,long,long
1,2,2,Exp1,BR,long,2,0.036046,1.522935,0.560785,0.044255,0.670014,0.072488,False,long,long
2,3,3,Exp1,BR,long,3,0.037048,1.407812,0.243969,0.054426,1.060052,0.095522,False,long,long
3,4,4,Exp1,BR,long,4,1.540182,1.101441,0.892721,0.036562,0.120978,0.064738,False,long,long
4,5,5,Exp1,BR,long,5,0.084268,1.287194,0.635265,0.060784,0.476238,0.097459,False,long,long

In [87]:
aov = pg.rm_anova(data = cilist1, 
            dv = 'mInP', 
            within = ['priortype','range'], 
            subject = 'NSub', detailed = True)
aov.round(3)

,Source,SS,ddof1,ddof2,MS,F,p-unc,p-GG-corr,np2,eps
0,priortype,0.176,1,15,0.176,1.538,0.234,0.234,0.093,1.0
1,range,10.978,1,15,10.978,34.386,0.000,0.000,0.696,1.0
2,priortype * range,0.904,1,15,0.904,7.753,0.014,0.014,0.341,1.0

In [88]:
aov = pg.rm_anova(data = cilist2, 
            dv = 'mInP', 
            within = ['priortype','range'], 
            subject = 'NSub', detailed = True)
aov.round(3)

,Source,SS,ddof1,ddof2,MS,F,p-unc,p-GG-corr,np2,eps
0,priortype,0.026,1,15,0.026,1.412,0.253,0.253,0.086,1.0
1,range,6.064,1,15,6.064,108.142,0.000,0.000,0.878,1.0
2,priortype * range,0.639,1,15,0.639,24.394,0.000,0.000,0.619,1.0

## A repeated measures ANOVA of Intercept of RP fitting line

In [89]:
aov = pg.rm_anova(data = cilist.query('priortype =="BR"'), 
            dv = 'mIntercept', 
            within = ['range'], 
            subject = 'NSub', detailed = True)
aov.round(3)

  Source     SS  DF     MS       F  p-unc    np2  eps
0  range  0.650   1  0.650  29.479    0.0  0.663  1.0
1  Error  0.331  15  0.022     NaN    NaN    NaN  NaN

In [90]:
aov = pg.rm_anova(data = cilist1.query('priortype =="IR"'), 
            dv = 'mIntercept', 
            within = ['range'], 
            subject = 'NSub', detailed = True)
aov.round(3)

  Source     SS  DF     MS       F  p-unc    np2  eps
0  range  0.289   1  0.289  15.949  0.001  0.515  1.0
1  Error  0.271  15  0.018     NaN    NaN    NaN  NaN

In [91]:
m_ci = cilist.groupby(['Exp','priortype', 'range']).mIntercept.mean().round(2)
m_ci

Exp   priortype  range
Exp1  BR         long     0.54
                 short    0.32
      IR         long     0.40
                 short    0.21
Exp2  BR         long     0.78
                 short    0.43
      IR         long     0.62
                 short    0.48
Name: mIntercept, dtype: float64

In [92]:
pg.pairwise_ttests(data = cilist1.query('priortype == "BR"'), 
            dv = 'mIntercept',  within =['range'], subject = 'NSub', alternative="greater").round(3)

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,BF10,hedges
0,range,long,short,True,True,3.27,15.0,greater,0.003,18.949,1.01

In [93]:
pg.pairwise_ttests(data = cilist1.query('priortype == "IR"'), 
            dv = 'mIntercept',  within =['range'], subject = 'NSub', alternative="greater").round(3)

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,BF10,hedges
0,range,long,short,True,True,3.994,15.0,greater,0.001,66.629,0.978

In [94]:
aov = pg.rm_anova(data = cilist1, 
            dv = 'mIntercept', 
            within = ['priortype','range'], 
            subject = 'NSub', detailed = True)
aov.round(3)

,Source,SS,ddof1,ddof2,MS,F,p-unc,p-GG-corr,np2,eps
0,priortype,0.258,1,15,0.258,28.644,0.000,0.000,0.656,1.0
1,range,0.654,1,15,0.654,15.551,0.001,0.001,0.509,1.0
2,priortype * range,0.002,1,15,0.002,0.232,0.637,0.637,0.015,1.0

In [95]:
aov = pg.rm_anova(data = cilist2, 
            dv = 'mIntercept', 
            within = ['priortype','range'], 
            subject = 'NSub', detailed = True)
aov.round(3)

,Source,SS,ddof1,ddof2,MS,F,p-unc,p-GG-corr,np2,eps
0,priortype,0.052,1,15,0.052,1.305,0.271,0.271,0.080,1.0
1,range,0.992,1,15,0.992,29.438,0.000,0.000,0.662,1.0
2,priortype * range,0.182,1,15,0.182,3.513,0.080,0.080,0.190,1.0

In [96]:
pg.pairwise_ttests(data = cilist2.query('priortype == "BR"'), 
            dv = 'mIntercept',  within =['range'], subject = 'NSub', alternative="greater").round(5)

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,BF10,hedges
0,range,long,short,True,True,4.71595,15.0,greater,0.00014,233.919,1.2965

In [97]:
pg.pairwise_ttests(data = cilist2.query('priortype == "IR"'), 
            dv = 'mIntercept',  within =['range'], subject = 'NSub', alternative="greater").round(3)

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,BF10,hedges
0,range,long,short,True,True,2.015,15.0,greater,0.031,2.543,0.475

### A repeated measures ANOVA of Indifferent Points

In [98]:
aov = pg.rm_anova(data = cilist1, 
            dv = 'mInP', 
            within = ['priortype','range'], 
            subject = 'NSub', detailed = True)
aov.round(3)

,Source,SS,ddof1,ddof2,MS,F,p-unc,p-GG-corr,np2,eps
0,priortype,0.176,1,15,0.176,1.538,0.234,0.234,0.093,1.0
1,range,10.978,1,15,10.978,34.386,0.000,0.000,0.696,1.0
2,priortype * range,0.904,1,15,0.904,7.753,0.014,0.014,0.341,1.0

In [99]:
aov = pg.rm_anova(data = cilist2, 
            dv = 'mInP', 
            within = ['priortype','range'], 
            subject = 'NSub', detailed = True)
aov.round(3)

,Source,SS,ddof1,ddof2,MS,F,p-unc,p-GG-corr,np2,eps
0,priortype,0.026,1,15,0.026,1.412,0.253,0.253,0.086,1.0
1,range,6.064,1,15,6.064,108.142,0.000,0.000,0.878,1.0
2,priortype * range,0.639,1,15,0.639,24.394,0.000,0.000,0.619,1.0

In [100]:
pg.pairwise_ttests(data = cilist1.query('range == "short"'), 
            dv = 'mInP',  within =['priortype'], subject = 'NSub', alternative="less").round(5)

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,BF10,hedges
0,priortype,BR,IR,True,True,-1.93942,15.0,less,0.03575,2.286,-0.60541

In [101]:
pg.pairwise_ttests(data = cilist1.query('range == "long"'), 
            dv = 'mInP',  within =['priortype'], subject = 'NSub', alternative="greater").round(5)

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,BF10,hedges
0,priortype,BR,IR,True,True,2.20314,15.0,greater,0.02182,3.342,0.54973

In [102]:
pg.pairwise_ttests(data = cilist2.query('range == "short"'), 
            dv = 'mInP',  within =['priortype'], subject = 'NSub', alternative="less").round(5)

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,BF10,hedges
0,priortype,BR,IR,True,True,-3.60978,15.0,less,0.00129,34.096,-1.254

In [103]:
pg.pairwise_ttests(data = cilist2.query('range == "long"'), 
            dv = 'mInP',  within =['priortype'], subject = 'NSub', alternative="greater").round(5)

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,BF10,hedges
0,priortype,BR,IR,True,True,3.96954,15.0,greater,0.00062,63.889,1.09204